html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container{
    background-color: rgb(200, 192, 238);
    display: flex;
    margin: 0%;
    height: 100vh;
    width: 100vw;
    padding: 0%;
    
}
.filho {
  align-items: center;
  width: 200px;
  height: 200px;
  
}
